.app-container {
  // display: flex;
  // justify-content: center;
  // margin:auto;
  // display: flex;
  margin-top: 45px;
  // background: rgb(247, 244, 244);
  // display: block;
  // height: 100%;
  // margin: auto;
}

.app-container2 {
  // margin: auto;
  // height: 100%;
  // background: white;
}

.white-background {
  // background-color: white;
  // height: 1200px;
  // width: 1200px;
  // min-width: 1200px;
  // margin: auto;
  // right:50%;
  // margin-right:-250px;
  // width:500px;
  // z-index: 0px;
  // position: fixed;
  // min-height: 100%;
  // min-width: 1024px;
  // width: 100%;
  // height: auto;
  // position: absolute;
  // top: 0;
  // left: 0;
  // background: white;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // position: fixed; 
  // top: 0; 
  // left: 0; 
  // min-width: 100%;
  // min-height: 100%;
  // margin: auto;
  // right:50%;
  // margin-right:-250px;
  // width:500px;
  // z-index: 0px;
  // position: fixed;
  // min-height: 100%;
  // min-width: 1024px;
  // width: 100%;
  z-index: 1;
}

.body {
  background: grey;
}