.home-page {
  display: flex;
  justify-content: center;
  max-width: 1300px;
  margin: auto;
  min-width: 900px;
  // margin-left: 50px;
}

.right-console {
  width: 400px;
  min-width: 400px;
  height: 800px;
  background: image-url("right-console.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  margin-left: 890px;
  margin-top: 15px;
  position: fixed;
}

.song-page-banner {
  color: rgb(51, 51, 51);
  font-size: 23px;
  margin-top: 25px;
  margin-left: 55px;
  margin-bottom: 5px;
}

.song-page-description {
  font-size: 14px;
  color: rgb(153, 153, 153);
  margin-left: 55px;
  // margin-top:
}

.song-title {
  margin-top: 5px;
  color: rgb(51, 51, 51);
  font-size: 14px;
}

.uploader {
  color: rgb(153, 153, 153);
  font-size: 12px;
}

.slider-divider {
  height: 1px;
  width: 760px;
  background: lightgrey;
  margin-left: 25px;
}

// .home-page-wrapper {
//   z-index: 500px;
// }