

.profile-header {
  margin-left: 99px;
  width: 80%;
  height: 260px;
  position: absolute;
  background-color: rgb(255, 240, 242);
}

.profile-username-box {
  margin-top: 50px;
  margin-left: 250px;
  // background-color: black;
  color: white;
  width: 175px;
  font-family: sans-serif;
  text-align: center;
}

.profile-username {
  background-color: rgb(48,48,48);
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: -15px;
}

.profile-pic {
  display: inline-flex;
  background-size: contain;
  background-repeat: no-repeat;
  background: image-url("chris.jpg");
  height: 100px;
  width: 100px;
  margin-left: 75px;
}

.spotlight {
  margin-top: 25px;
  margin-left: 95px;
}

.show-page-links {
  display: flex;
  list-style: none;
  margin-left: 75px;
  font-family: sans-serif;
}

.show-page-links > li {
  text-align: center;
  margin-left: 20px;
}

.show-page-link {
  background: transparent;
  border: none;
  cursor: pointer;
}

.banner-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 265px;
}

.social-buttons {
  margin-right: 175px;
  margin-top: 15px;
}

.social-button {
  background: none;
  border: grey;
  border-radius: 3px;
  cursor: pointer;
  border-width: 1px;
  margin-left: 5px;
}

.social-button1 {
  background-color: orangered;
  padding: 5px;
  border: none;
  color: white;
  // font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  width: 65px;
}

.spotlight-banner {
  margin-left: 135px;
}

.song-box {
  display: flex;
  margin-bottom: -100px;
}

.album-cover {
  background: image-url("lotus.jpeg");
  width: 150px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
}

.song-name {
  margin-left: 7px;
  margin-top: 6px;
}

.play-button {
  height: 40px;
  width: 40px;
  margin-left: 20px;
  margin-top: 5px;
  background: image-url("play.png");
  background-size: contain;
  background-repeat: no-repeat; 
  border: none;
}