.slide {
  background-repeat: no-repeat;
  background: image-url("lotus.jpeg");
  background-size: contain;
  height: 170px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-slider {
  margin: auto;
  padding: 40px;
  height: 150px;
  width: 750px;
  color: #333;
  min-height: 0;
  min-width: 0;
  margin-left: 70px;
  margin-bottom: 70px;
  margin-top: -25px;
  margin-right: -25px;
}

.slick-next:before {
  // padding: 10px;
}

.slick-next {
  right: 50px;
}

.player-play-buttonx {
  background: image-url("play-button2.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  margin-top: 7px;
  margin-left: 15px;
  margin-right: 15px;
}

.player-pause-buttonx {
  background: image-url("pausebutton2.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  margin-top: 7px;
  margin-left: 15px;
  margin-right: 15px;
}
